---
layout: layouts/base.njk
---

<h1>My Blog</h1>

<ul class="album-covers">
    {% for post in collections.review | reverse %}
    <li class="album">
        <a href="{{post.url}}">
            <img class="grow" src="{{ post.data.image }}" width="400" height="400" alt="">
        </a>
        
    </li>
    {% endfor %}
</ul>