<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Disc A Day</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/globals.css">
</head>
<body>
    <main>
        <nav class="navbar">
            <div class="navbar-container">
                <div class="logo">
                    <a href="/">a disc a day</a>
                </div>
                <ul class="nav">
                    <a href="/about">about</a>
                </ul>
            </div>
        </nav>
        <div class="container">
            {{ content | safe }}
        </div>
        
    </main>
</body>
</html>