---
layout: layouts/base.njk
---

<article>
    <div class="review-container">
        <h1>{{title}}</h1>
        <img class="album-cover" src="{{ image }}" width="300" alt="">
        {# TODO: Format date #}
        {# TODO: Add "updated on:" field #}
        <p class="post-date">Posted <time>{{date | blogDate}}</time></p>
        <div class="review-content">
            {{content | safe}}
        </div>
    </div>
</article>
