---
layout: layouts/base.njk
---

<article>
    <h1>{{title}}</h1>
    <time>{{date}}</time>
    <img src="{{ image }}" width="400" class="album-cover" alt="">
    <div class="review-content">
        {{content | safe}}
    </div>
    
</article>

